# Compiled source
*.class
Graphics/build/*
Graphics/bin/*
out/
Layout/build/*
Layout/bin/*
HeapVisualizer/build/*
HeapVisualizer/bin/*
*/reports/*

# Eclipse files
.classpath
.project

#IntelliJ files
*.iml
*.idea

#Temp files
*~
.*~
