# Compiled source
*.class
Graphics/build/*
Graphics/bin/*
Tests/GraphicsPerf/build/*
out/
Layout/build/*
Layout/bin/*
HeapVisualizer/build/*
HeapVisualizer/bin/*
*/reports/*
*/bin/*
build

# Eclipse files
.classpath
.project
.settings

#IntelliJ files
*.iml
*.idea

#Temp files
*~
.*~
